* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica;
}

body {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3em;
}

#calc {
    width: 600px;
    padding: 0.5em;
    background-color: rgb(44, 44, 39);
    color: red;
    display: flex;
    flex-direction: column;
}

#calc h3 {
    font-size: 1em;
    font-weight: 800;
    color: blueviolet;
}

#operations {
    text-align: right;

}

#previous-operation,
#current-operation {
    min-height: 1.6em;
    padding: 0.2em;
    overflow-wrap: break-word;
}

#previous-operation {
    color: rgb(196, 116, 116);
    font-size: 2em;
}

#current-operation {
    font-size: 3em;
    font-weight: 700;
    color: black;
    
}

#buttons-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 3px;
}

#buttons-container button {
    border: 1px solid transparent;
    border-radius: 0;
    height: 4em;
    font-size: 1.2em;
    background-color: rgb(119, 171, 216);
    cursor: pointer;
}

#buttons-container .number {
    background-color: rgb(187, 166, 166);
}

#buttons-container button:hover {
    background-color: rgb(72, 212, 212);
    border-color: rgb(31, 31, 36);
}

#buttons-container #equal-btn {
    grid-column: span 2;
    background-color: aqua;
}

#buttons-container #equal-btn:hover {
    background-color: rgb(131, 127, 127);
}